.container {
  justify-content: space-between;
}
.container button {
  border: 0;
}
.save {
  background-color: rgb(253, 253, 253);
  color: rgb(185, 184, 184);
  border-radius: 9px;
  padding: 2%;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}
.save:hover {
  color: rgb(253, 253, 253);
  background-color: rgb(185, 184, 184);
}
.delete {
  background-color: rgb(253, 253, 253);
  color: rgb(226, 69, 69);
  border-radius: 9px;
  padding: 2%;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}
.delete:hover {
  color: rgb(253, 253, 253);
  background-color: rgb(226, 69, 69);
}
.create {
  background-color: rgb(253, 253, 253);
  color: rgb(66, 115, 250);
  border-radius: 9px;
  padding: 2%;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
}
.create:hover {
  color: rgb(253, 253, 253);
  background-color: rgb(66, 115, 250);
}
.create,
.save,
.delete {
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -ms-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
  transition: background-color 0.7s;
  height: 45px;
  /* width: 150px; */
  font-size: large;
}
@media (min-width: 280px) and (max-width: 591px) {
  .create,
  .save,
  .delete {
    font-size: medium;
  }
}
@media (min-width: 280px) and (max-width: 560px) {
  button {
    padding-left: 0;
    padding-right: 0;
  }
  .create,
  .save,
  .delete {
    height: 30px;
    /* width: 150px; */
    font-size: 12px;
  }
}
@media (min-width: 280px) and (max-width: 475px) {
  .create,
  .save,
  .delete {
    height: 30px;
    font-size: 10px;
    width: auto;
    padding: 5px;
  }
  .h2 span {
    font-size: medium;
  }
}
